.footer-main-ow{
    background-color: $color__secondary;
    position: relative;
    /* margin-top: 200px; */
    overflow: hidden;
    &::before{
        content: "";
        background-image: url("../../images/bg/onda-main-ow.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        filter: opacity(30%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
    }
    .line-footer{
        width: 100%;
        height: 6px;
        position: relative;
        display: flex;
        justify-content: center;
        
        
    }
    .column-footer{
        width: 100%;
        padding: 90px 20px;
        z-index: 10;
    }
    h6{
        color: $color__white;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 600;
    }
    a{
        text-decoration: none;
        color: $color__white;
    }
    ul{
        margin: 0px;
        padding: 10px;
    }

    .bar-footer{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        align-content: center;
    }

    
        .brand-footer{
            width: 100%;
            max-width: 400px;
            padding: 0px 10px 40px 30px;

            img{
                width: 240px;
                vertical-align: top;
            }
        }

        .social-footer{
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-align: center;
            align-content: center;
            text-align: center;
            margin-right: 40px;
           h6{
            margin-top: 3px;
            margin-right:10px;
            font-weight: 600;
            color: $color__white;
           }

            a{
                display: inline-block;
                cursor: pointer;
                color: $color__gray20;
                margin-left: 20px;
                margin-top: -10px;
                font-size: 23px;
                transition: all 0.3s ease-in;
                -webkit-transition: all 0.3s ease-in;
                -moz-transition: all 0.3s ease-in;
                -o-transition: all 0.3s ease-in;
                -ms-transition: all 0.3s ease-in;

                &:hover{
                    color: $color__white;
                }

                
            }
        }

        .links-footer{
           li{
            list-style: none;
            
            i{
                margin-right: 10px;
                font-size: 9px;
                color: $color__primary;
            }

            a{
                font-family: $font_montserrat;
                color: $color__gray20;
                transition: all 0.3s ease-in;
                -webkit-transition: all 0.3s ease-in;
                -moz-transition: all 0.3s ease-in;
                -o-transition: all 0.3s ease-in;
                -ms-transition: all 0.3s ease-in;
                &:hover{
                    color: $color__white;
                }
            }
           }
           &:hover{
            color: $color__white;
           }


        }
    
        .copyright-footer{
            margin-top: 20px;
            cursor: auto;
            text-align: center;
            padding-bottom: 20px;
        }
}

@media only screen and (max-width: 780px){
    .social-footer{
        flex-direction: column !important;
        justify-content: start;
        display: inline-block;
        a{
            width: 30px;
        }
        h6{
            text-align: center;
            margin-left: 30px;
            margin-bottom: 10px;
        }
    }
}

@media only screen and (max-width: 480px){
    .bar-footer{
        flex-direction: column!important;
        .column-footer{
            display: flex;
            text-align: center;
            padding: 20px 0px;

            &:nth-child(1){
                width: 100%;
                margin-top: 60px;
                .brand-footer{
                    flex: 1;
                    img{ 
                        width: 90%;
                    }
                }

                .social-footer{
                    flex: 1;
                    h6{
                        font-size: 19px;
                    }

                    a i{
                        margin-top: 20px;
                        font-size: 36px !important;
                    }
                }
            }

            &:nth-child(2), &:nth-child(3){
                display: inline-block;
                
            }
        }
    }

    .copyright-footer{
        padding: 0 60px;
    }
}